

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: rgb(41, 41, 41);
    font-family: "Poppins", sans-serif;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.generator-btn{
    padding: 10px 20px;
    color: #fff;
    border: none;
    width: 250px;
    height: 50px;
    background-color: rgb(245, 45, 45);
    margin:30px;
}

.generator-btn:hover{
    background-color: red;
    color: rgb(201, 201, 201);
}

.image{
    background-image: url('./images/263598-buffy-finale.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 432px;
    width: 768px;
}

.image-container{
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff; 
}

.quote-container{
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1em;
    position: absolute;
    width: 100%;
    transition-delay: 500ms;
}

/*
.image-container:hover .quote-container{
    bottom: 0;
    transition: all 300ms ease-out;
}
*/

.speaker-div{
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.quote-div{
    text-align: left;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.quote{
    display: inline;
    font-size: 1rem;
    padding: 5px;
    vertical-align: middle;
    text-align: left;
}
